# Python
__pycache__/
*.py[cod]
.ipynb_checkpoints/

# Environments & Config
.env
.venv/
env/
venv/
*.log

# IDEs
.vscode/
.idea/

# Data artifacts (Don't commit heavy data!)
data/
src/modules/ingestion/local_data/
*.csv
*.tsv
*.gz
*.json
*.parquet
*.zip

# Keep directories but ignore content
!data/.gitkeep